header {
    background-color: black;
    color: yellow;
    font-size: 2em;
    padding: 1em;
}

h1 {
    font-family: fantasy;
    filter: drop-shadow(5px 5px 2px #4444dd);
}

section {
    border-bottom: 1px dashed gray;
}

#npcContainer {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row;
    flex-wrap: wrap;
}

#npcsContainer {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row;
    flex-wrap: wrap;
}

.npcDiv {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.form {
    /* width: 50%; */
    position: relative;
    height: 50px;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.form input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #000;
    padding-top: 15px;
    border: none;
    outline: none;
    font-size: 24px;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 30%;
    height: 100%;
    pointer-events: none;
    color: #000;
    border-bottom: 3px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    bottom: -5px;
    border-bottom: 7px solid #1a94bc;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
}

.content-food {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-food .content-food,
.form input:valid+.label-food .content-food {
    transform: translateY(-200%);
    font-size: 14px;
}

.form input:focus+.label-food::after,
.form input:valid+.label-food::after {
    transform: translateX(0%);
}